*.o
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
pdf2laser
src/.deps/*
stamp-h1
