*.o
*.swp
*~
.DS_Store
._*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
ini_lexer.c
ini_lexer.h
ini_parser.c
ini_parser.h
install-sh
libtool
ltmain.sh
m4/*
missing
pdf2laser
src/.deps/*
stamp-h1
ylwrap
